<div style="text-align:center">
  <h1>Transaction by cashier</h1>
</div>
<div style="text-align:center">
  Select cashier name:
  <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
  <br>
  <br>
  <table style="width:100%">
    <tr>
      <th>Date / Time</th>
      <th>Product Cost</th>
      <th>Paid Amount</th>
      <th>Change Amount</th>
    </tr>
    <tr>
      <td>.</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <br>
  <br>
  <button routerLink="">Back to home page</button>
</div>