<div style="text-align:center">
  <h1>Cashier login</h1>
</div>
<div style="text-align:center">
  <i class="material-icons">email</i>
  <input (keyup)="onChangeEmail($event)" type="text" name="email" value="" placeholder="Enter your email">
  <br>
  <br>
  <button routerLink="add_transaction">Login</button>
  <br>
  <br>
  <button routerLink="">Back to home page</button>
  <br>
  <br>
  <button (click)="onClickTest()">test</button>
  <router-outlet></router-outlet>
</div>