<div style="text-align:center">
  <h1>Transactions</h1>
</div>
<div style="text-align:center">
  <input (keyup)="onChangeCost($event)" type="text" name="cost" value="" placeholder="Enter cost">
  <br>
  <br>
  <input (keyup)="onChangePaidAmount($event)" type="text" name="paid amount" value="" placeholder="Enter paid amount">
  <br>
  <br>
  <button (click)="onClickCalculateChange()">Calculate Change</button>
  <br>
  <br>
  <input type="text" name="change amount" value="{{this.change_amount}}" placeholder="Change amount">
  <br>
  <br>
  <button (click)="onClickSaveTransaction()">Save Transaction</button>
  <br>
  <br>
  <button routerLink="/login">Back to login page</button>
</div>