<div style="text-align:center">
  <h1>Welcome to point of sales application</h1>
  <button routerLink="login">Login as a cashier</button>
  <br>
  <br>
  <button routerLink="show_transaction">Show transaction by cashier</button>
</div>